apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: prod
  labels:
    app: mongodb
spec:
  type: ClusterIP
  clusterIP: None  # Headless service for StatefulSet
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongodb
  selector:
    app: mongodb
  sessionAffinity: None




