apiVersion: apps/v1
kind: Deployment
metadata:
  name: load-test
  namespace: prod
spec:
  replicas: 20
  selector:
    matchLabels:
      app: load-test
  template:
    metadata:
      labels:
        app: load-test
    spec:
      containers:
      - name: stress
        image: containerstack/cpustress:latest
        resources:
          requests:
            cpu: "500m"
            memory: "256Mi"
          limits:
            cpu: "1000m"
            memory: "512Mi"
        args:
        - "-l"
        - "800"
        - "-t"
        - "4"