apiVersion: v1
kind: Service
metadata:
  name: booking-service
  namespace: prod
  labels:
    app: booking-service
spec:
  type: ClusterIP
  ports:
  - port: 4003
    targetPort: 4003
    protocol: TCP
    name: http
  selector:
    app: booking-service
  sessionAffinity: None




