apiVersion: v1
kind: Service
metadata:
  name: event-service
  namespace: prod
  labels:
    app: event-service
spec:
  type: ClusterIP
  ports:
  - port: 4002
    targetPort: 4002
    protocol: TCP
    name: http
  selector:
    app: event-service
  sessionAffinity: None




